.sidebar{
  min-width: 360px;
  background-color: #e8e8e8;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  &-list {
    list-style-type: "－";
    list-style-position: inside;
    li {
      padding-left: 0.5rem;
    }
  }
  &-link {
    color: $secondary;
    font-size: 1.25rem;
    display: inline-block;
    &:hover {
      color: $dark;
      background-color: darken(#e8e8e8, 5%);
    }
    &.active {
      color: $dark;
      font-weight: bold;
    }
  }
}

